# mis_builder_cash_flow_forecast_integration dependency
odoo-addon-mis_builder_cash_flow_forecast_integration @ git+https://github.com/Escodoo/account-addons.git@16.0#subdirectory=mis_builder_cash_flow_forecast_integration
